.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}

    .container__child {
        width: 100%;
        min-width: 500px;
    }